* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.head {
  /* color: rgb(7, 168, 77); */
  color: rgb(255, 166, 0);
  background-color: rgb(54, 53, 53, 0.1);
  text-align: center;
  padding: 20px;
  font-family: "RM";
  font-size: 40px;
  animation: flicker 1.5s infinite alternate;
  cursor: pointer;
  padding-left: 20px;
}
