* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "RM";
  src: url("./Fonts/get_schwifty.ttf");
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  /* min-height: 100vh; */
  background-image: url(https://wallpapers.com/images/featured/rick-and-morty-cool-pictures-t3ynu5ly9m7jq6e2.jpg);
  /* font-family: RM; */
}
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: left;
  width: 70%;
  /* background-color: whitesmoke;
    overflow-y: scroll; */
  margin: 10vh auto;
  /* padding: 20px; */
}
.characters h3 {
  color: rgb(255, 166, 0);
}
.characters div {
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(73, 68, 86, 0.8);
  width: 70%;
  text-align: center;
  height: fit-content;
  font-family: RM;
}
.characters img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.characters button {
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  border-color: rgb(7, 168, 77);
  font-family: "RM";
  cursor: pointer;
  border-radius: 8px;
}
.characters button:hover {
  background-color: rgb(7, 168, 77, 0.8);
}
.episodes {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
}
.episodes > p {
  margin: 10px 0;
  font-size: 24px;
  color: rgb(255, 166, 0);
  cursor: pointer;
}
.episodes > h2 {
  text-align: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 166, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(128, 83, 1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 54, 0);
  cursor: pointer;
}
.episode-links {
  color: rgb(7, 168, 77);
  font-family: "RM";
  font-size: 18px;
}
.pagination {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.pagination > button {
  margin-top: 50px;
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 60px;
  background-color: rgb(7, 168, 77, 0.9);
  color: white;
  font-family: "RM";
  font-size: 20px;
  cursor: pointer;
}
.current-page {
  color: white;
  background-color: rgb(255, 166, 0, 0.9);
  border: 1px solid white;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 60px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: RM;
  cursor: pointer;
}
.current-page:hover {
  background-color: rgb(113, 73, 0);
}
.single-page {
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  font-family: RM;
}
